<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LibraryManagementProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchPrint</display-name>
    <servlet-name>SearchPrint</servlet-name>
    <servlet-class>com.hcl.library.SearchPrint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPrint</servlet-name>
    <url-pattern>/SearchPrint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAccount</display-name>
    <servlet-name>UserAccount</servlet-name>
    <servlet-class>com.hcl.library.UserAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccount</servlet-name>
    <url-pattern>/UserAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.hcl.library.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
</web-app>