<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>EmploySearch.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloServalet</display-name>
    <servlet-name>HelloServalet</servlet-name>
    <servlet-class>com.hcl.servalet.HelloServalet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServalet</servlet-name>
    <url-pattern>/HelloServalet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NameServlet</display-name>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>com.hcl.servalet.NameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/NameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalServlet</display-name>
    <servlet-name>CalServlet</servlet-name>
    <servlet-class>com.hcl.servalet.CalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalServlet</servlet-name>
    <url-pattern>/CalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployShowServlet</display-name>
    <servlet-name>EmployShowServlet</servlet-name>
    <servlet-class>com.hcl.servalet.EmployShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployShowServlet</servlet-name>
    <url-pattern>/EmployShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentShowServlet</display-name>
    <servlet-name>DepartmentShowServlet</servlet-name>
    <servlet-class>com.hcl.servalet.DepartmentShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentShowServlet</servlet-name>
    <url-pattern>/DepartmentShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployInsertServlet</display-name>
    <servlet-name>EmployInsertServlet</servlet-name>
    <servlet-class>com.hcl.sevalet.EmployInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployInsertServlet</servlet-name>
    <url-pattern>/EmployInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployInsertServalet</display-name>
    <servlet-name>EmployInsertServalet</servlet-name>
    <servlet-class>com.hcl.servalet.EmployInsertServalet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployInsertServalet</servlet-name>
    <url-pattern>/EmployInsertServalet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmploySearchServlet</display-name>
    <servlet-name>EmploySearchServlet</servlet-name>
    <servlet-class>com.hcl.servalet.EmploySearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmploySearchServlet</servlet-name>
    <url-pattern>/EmploySearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hcl.servalet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>